.header__container {
  padding: 28px 85px 13px;
}

/* плашка с рекламой */

.header__discount {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__discount-text {
  margin-left: 0px;
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
  padding: 9px 0 10px;
}

.header__discount-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}

.header__close-button {
  position: absolute;
  /* min-width=375px max-width=1440px */
  right: clamp(15px, -0.933rem + 7.98vw, 100px);
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: 0;
  background: none;
  line-height: 1;
  cursor: pointer;
}

/* шапка */

.header__main {
  margin: 0 auto;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__actions {
  max-width: 436px;
  display: flex;
  gap: 14px;
  margin-left: auto;
}

.adaptive-search {
  display: none;
}

.header__burger {
  display: none;
}

.header__logo {
  height: 45px;
}

/* менюшка */

.menu__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.header__menu-item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--second-color);
}

.menu-first-link::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  position: relative;
  top: 2px;
  background: url(../../images/Frame.svg) center / contain no-repeat;
}

.menu__form {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  padding: 12px 16px;
  width: 100%;
  max-width: 462px;
  height: 48px;
  background: #f0f0f0;
}

/* адаптация */

@media (width <= 1280px) {
  .header__main {
    gap: clamp(20px, -1.827rem + 4.81vw, 40px);
  }
  .menu__list {
    gap: 18px;
  }
}

@media (width < 1024px) {
  .header__container {
    padding: 20px 0;
  }

  .header__discount {
    display: none;
  }

  .menu__form {
    display: none;
  }

  .adaptive-search {
    display: inline-block;
  }

  .menu__form {
    width: 300px;
  }
}

@media (width <= 768px) {
  .header__main {
    gap: 0px;
  }

  /* нвстройка бургер-меню */

  .header__menu {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    padding-top: 130px;
    padding-right: 15px;
    background-color: var(--second-color);
    z-index: 2;
    min-width: clamp(190px, 8.006rem + 15.87vw, 250px);
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }

  .header__menu-item {
    z-index: 3;
    color: var(--main-color);
  }

  .menu-first-link::after {
    display: none;
  }

  .header__burger {
    display: inline-block;
    padding-right: 16px;
  }

  .header__actions {
    gap: 14px;
  }

  .header__logo {
    font-size: 25px;
    margin-right: clamp(80px, -9.187rem + 58.2vw, 300px);
    height: 38px;
  }

  /* .header__close-button {
    margin-right: clamp(10.87px, -5.068rem + 23.58vw, 100px);
  } */
}
