html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  background-color: black;
  width: 50px;
  height: 50px;
}

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}

.nav-item {
  color: black;
}

.number {
  color: black;
  text-decoration: none;
}
