.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.title-medium {
  font-size: 36px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__text:last-child {
  margin-bottom: 0;
}

.article__mb--1 {
  margin-bottom: 80px;
}

.article__mb--2 {
  margin-bottom: 40px;
}

.article__decor--wrapper {
  position: relative;
}

.article__decor--wrapper::before {
  max-width: 528px;
  max-height: 48px;
}

.article__decor--wrapper-1::before {
  top: 100px;
  left: 0px;
}

.article__decor--wrapper-2::before {
  right: 0px;
  bottom: 135px;
}

.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item {
  margin-bottom: 12px;
}

.article__item:not(:last-child) {
  margin-bottom: 12px;
}

.article__item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article__play--button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  -webkit-transition:
    opacity 0.2s,
    background-color 0.2s;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}

.article__play--button:hover {
  opacity: 0.85;
}

.article__play--button:not(:disabled):active {
  background-color: #10548f;
}

@media (width <= 768px) {
  .article__decor--wrapper::before {
    display: none;
  }

  .article__mb--1 {
    margin-bottom: 60px;
  }

  .title-medium {
    font-size: 32px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .title-medium {
    font-size: 28px;
  }

  .article__mb--1 {
    margin-bottom: 40px;
  }

  .article__mb--2 {
    margin-bottom: 30px;
  }

  .article__play--button {
    width: 50px;
    height: 50px;
  }

  .article__play--button img {
    width: 18px;
    height: 18px;
  }
}
